<html>
  <head>
    {{ template "head" .baseURL}}
  </head>
  <body class="bg-light">
      <div class="container">
        {{ template "header" .sUserName}}
        <div class="py-5 text-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" fill="currentColor" class="bi bi-box" viewBox="0 0 16 16" style="margin-bottom:24px;">
            <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
          </svg>
          <h2>商品設定画面</h2>
          <p class="lead">商品情報を設定するためのサンプル画面</p>
        </div>

        {{ with .msg }}
          <div class="alert alert-success" role="alert">
            <strong>{{.}}</strong>
          </div>
        {{ end}}
        {{ with .errMsg }}
          <div class="alert alert-danger" role="alert">
            <strong>{{.}}</strong>
          </div>
        {{ end}}
  
        <div class="row">
          <div class="col-md-12 order-md-1">
            <h4 class="mb-3">商品情報</h4>
            <form method="post" action="product/" enctype="multipart/form-data">
              <input type="hidden" name="_csrf" value="{{._csrf}}">
              {{ with .P.ID }}
              <div class="row">
                <div class="col-md-9 mb-2">
                  <label>ID&nbsp;:&nbsp;{{.}}</label>
                </div>
              </div>
                <input type="hidden" name="ID" value="{{.}}">
              {{ end }}
              <div class="row">
                <div class="col-md-9 mb-4">
                  <label for="ProductName">商品名</label>
                  <input type="text" class="form-control" name="ProductName" id="ProductName" placeholder="" value="{{.P.ProductName}}" >
                </div>
              </div>
  
              <div class="row">
                <div class="col-md-9 mb-4">
                  <label for="OrgCode">商品コード</label>
                  <input type="text" class="form-control" name="OrgCode" id="OrgCode" placeholder="" value="{{.P.OrgCode}}">
                </div>
              </div>
              <div class="row">
                <div class="col-md-9 mb-4">
                  <label for="OrgCode">Janコード</label>
                  <input type="text" class="form-control" name="JanCode" id="JanCode" placeholder="" value="{{.P.JanCode}}" >
                </div>
              </div>
              <div class="row">
                <div class="col-md-9 mb-4">
                  <label for="OrgCode">商品画像</label>
                  <input type="file" class="form-control" name="productImage" />
                  {{ with .P.GetImagePath}}
                    <img src="{{ . }}" class="img-thumbnail" width="150px;">
                  {{ end  }}
                  <input type="hidden" name="ProductImage" value="{{.P.ProductImage}}">
                </div>
              </div>
              <div class="row">
                <div class="col-md-9 mb-4">
                  <label for="OrgCode">商品説明</label>
                  <textarea class="form-control" name="ProductDetail" id="ProductDetail" placeholder="" rows="4" cols="50">{{.P.ProductDetail}}</textarea>
                </div>
              </div>
              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">保存する</button>

              <button class="btn btn-primary btn-lg btn-block" type="button" onclick='location.href="product/"'>一覧に戻る</button>
            </form>

            {{ with .P.ID }}
              <hr class="mb-4">
              <form method="post" action="product/delete">
                <input type="hidden" name="_csrf" value="{{$._csrf}}">
                <input type="hidden" name="id" value="{{.}}">
                <button class="btn btn-danger btn-lg btn-block" type="submit">削除する</button>
              </form>
            {{ end }}
          </div>
        </div>
  
      </div>
  
  
  </body>

</html>